.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:filled:hover, .list-cell:even:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.list-cell:filled {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-image: url("../images/CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-background-color: /*linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),*/ linear-gradient(rgba(32, 38, 44, 1), rgba(25, 29, 34, 0.9)),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
}

.list-cell:filled:even {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-image: url("../images/CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-background-color: /*linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),*/ linear-gradient(rgba(32, 38, 44, 1), rgba(25, 29, 34, 0.9)),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
}

.list-cell {
    -fx-background-image: url("../images/CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-background-color: #191d22;
}

.pickupCategory {
    -fx-background-image: url("../images/CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-border-color: grey;
    -fx-background-color: #1f2429;
}

.background {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color: rgba(0, 0, 0, 0.5) transparent rgba(255, 255, 255, 0.08) transparent,
    rgba(255, 255, 255, 0.08) transparent rgba(0, 0, 0, 0.5) transparent;
    -fx-border-width: 1, 1.5;
    -fx-border-insets: -1, 0;
}

.button .text {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.8), 0, 0.0, 0, -1);
}

.button {
    -fx-background-color: rgba(255, 255, 255, 0.08),
    rgba(0, 0, 0, 0.8),
    #090a0c,
    linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
    linear-gradient(#242a2e, #23282e),
    radial-gradient(center 50% 0%, radius 100%, rgba(135, 142, 148, 0.9),
            rgba(255, 255, 255, 0));
    -fx-background-radius: 7, 6, 5, 4, 3, 5;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 0;
}

.button:focused, .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.08),
    rgba(0, 0, 0, 0.8),
    #090a0c,
    linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
    linear-gradient(#3f4950, #23282e),
    radial-gradient(center 50% 0%, radius 100%, rgba(135, 142, 148, 0.9), rgba(255, 255, 255, 0));
}

.button:pressed {
    -fx-background-color: black;
}

#appName {
    -fx-font-size: 17;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0.0, 0, 1);
}

.warning {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}