@font-face {
    font-family: 'Reenie Beanie';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ReenieBeanie.ttf');
}

@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/KaushanScript.ttf');
}

.background {
    -fx-background-image: url("../images/CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-border-color: grey;
    -fx-background-color: linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.top-segment {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color: rgba(0, 0, 0, 0.5) transparent rgba(255, 255, 255, 0.08) transparent,
    rgba(255, 255, 255, 0.08) transparent rgba(0, 0, 0, 0.5) transparent;
    -fx-border-width: 1, 1.5;
    -fx-border-insets: -1, 0;
}

.profileTitle {
    -fx-font-size: 18;
}

.hyperlink {
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-text-fill: rgba(255, 255, 255, 0.4);
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.6), 0, 0.0, 0, 1);
    -fx-border-width: 0;
}

.hyperlink:focused {
    -fx-text-fill: rgba(255, 255, 255, 0.6);
}

.check-box .box {
    -fx-background-color: rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 1),
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 -1.6 -2 -1.6, -1.4, 0, 1, 2;
}

.check-box:focused .box {
    -fx-background-color: rgba(255, 255, 255, 0.15),
    rgba(0, 0, 0, 0.8),
    -fx-outer-border,
    -fx-inner-border,
    white;
}

.button .text {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.8), 0, 0.0, 0, -1);
}

.button {
    -fx-background-color: rgba(255, 255, 255, 0.08),
    rgba(0, 0, 0, 0.8),
    #090a0c,
    linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
    linear-gradient(#242a2e, #23282e),
    radial-gradient(center 50% 0%, radius 100%, rgba(135, 142, 148, 0.9),
            rgba(255, 255, 255, 0));
    -fx-background-radius: 7, 6, 5, 4, 3, 5;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 26;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

#exitImage {
    -fx-background-image: url("../images/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 90%;
    -fx-background-position: center;
}

#exitImage:hover {
    -fx-background-size: 100%;
}

.button:focused, .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.08),
    rgba(0, 0, 0, 0.8),
    #090a0c,
    linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
    linear-gradient(#3f4950, #23282e),
    radial-gradient(center 50% 0%, radius 100%, rgba(135, 142, 148, 0.9), rgba(255, 255, 255, 0));
}

.button:pressed {
    -fx-background-color: black;
}

.text-field, .text-area {
    -fx-font-size: 18;
    -fx-background-color: rgba(255, 255, 255, 0.3),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) 50%),
    rgb(218, 226, 224);
    -fx-background-insets: 0 0 -1 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    -fx-padding: 6 10 4 10;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0, 0, 2);
    -fx-font-family: "Arial";
}

.text-area {
    -fx-padding: 6 5 6 5;
}

.text-field:focused, .text-area:focused {
    -fx-background-color: rgba(235, 235, 235, 0.5),
    rgba(0, 0, 0, 0.4),
    rgb(255, 255, 255);
}

.roundedButton {
    -fx-border-radius: 5;
    -fx-border-color: grey;
    -fx-background-radius: 5;
}

#categoryHolder {
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 4, 4);
    -fx-padding: 0px 5px 0px 15px;
}

#categoryName {
    -fx-font-family: "Kaushan Script";
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0px 0px 3px 0px;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 4, 4);
}

#appName {
    -fx-font-family: "Arial";
    -fx-font-size: 30;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 4, 4);
}

.addBulletin {
    -fx-background-image: url("../images/addNewNote.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 3, 3);
}

.addBulletin:hover {
    -fx-background-size: 90%;
}

.changeCategory {
    -fx-background-image: url("../images/back.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 80%;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 3, 3);
}

.changeCategory:hover {
    -fx-background-size: 90%;
}

.dolnyHBox {
    -fx-border-color: blue;
    -fx-border-style: solid;
}